
.error-message {
    font-weight: bolder;
    color: #F55050;
}

.signup-link {
    padding-top: 10px;
}


@media only screen and (max-width: 768px) {
    .login-form {
        width: 100%;
        padding: 20px;
      };
   
}