.username{
    text-shadow: 2px 2px 2px #FFC300 ;
    color: #003566;
    font-size: 1.75rem;
}

.small-pic{
    width: 8rem;
    border: 2px #FFC300 solid;
    outline: 2px #003566 solid;
}


.green{
    border:1px solid green;
}

.gray{
    border: 1px solid #dab785;
}
.upvotes-received{
    outline: 1px #FFC300 solid;
    margin: 15px 5px 5px 5px;
    font-size: 1.25rem;
    font-weight: bold;
}

.t-right{
    text-align: right;
}

.no-padding{
    padding-top: 10px;
    margin-top: 0;
}

.total-journeys{
        margin: 15px 5px 5px 5px;
        outline: 1px #003566 solid;
        font-size: 1.25rem;
        background-color: #dab785;
        color: #003566;
}

.flex-row-public{
    margin: 15px 5px 15px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.flex-column-public{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin:10px 5px 10px 5px;
    padding: 5px;
}

.flex-column-public:hover{
    background-color: white;
}

.number{
    font-weight: bold;
    font-size: 1.5rem;
    color: #003566;
    text-shadow: #FFC300 2px 2px 2px;
}