.step-image{
    margin: 0 auto;
    border: 1px black solid;
    outline: 2px red solid;
    outline-offset: 10px;
}

.flex-c{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.large{
    width: 500px;
}

.flex-r{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.flex-row{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 35px;

}



.margin-l{
    margin-left: 15px;
}
.completed{
    color: green;
    font-weight: bold;
}

.margined-delete{
    margin: 0 auto;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.padding{
    padding: 15px;
}

.underlined{
    text-decoration: underline;
}

.title-step{
    font-size: 1.5em;
    color: #003566;
    text-shadow: 1px 1px 2px #dab785;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.remove{
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

.remove:hover{
    cursor: pointer;
}

.main-container-step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.edit-resources{
    
    width: 70%;
    margin: 0 auto;
    
}

.is-completed{
    padding: 10px;
    margin-top: -35px;
}

.is-completed:hover{
   color: #ffc107;
}



#journey-step-title{
    margin-top: 20px;
    color: #2B3A55;
}

.step-content{
    color: #2B3A55;
    padding: 0 5px;
}

.note-content{
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .edit-resources {
        width: 100%;
        padding: 20px;
      };
}