.table-row-par {
    background-color: #003566a9 !important
}

.table-row-odd {
    background-color: #dab785 !important;
}

.font-color {
    color: white !important
}

.table-row-heading {
    background-color: #dab785 !important
}

.table2 > td {
    text-align: center;
    padding: 8px 5px 8px 5px !important;
}

.table2{
    margin: 2px 5px 2px 5px;
}

td {
    vertical-align: middle;
}
