.error-div{
    margin: 15px 10px 0px 10px;
    /* background-image: url(https://media.giphy.com/media/6uGhT1O4sxpi8/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    height:45rem; */
}   

.adjusted{
    width: 20rem
}

.error{
    font-family: 'BEER02-A CROSS', sans-serif;
                                                
}