.alligned{
    margin: 0 auto;
    width: 45%;
    margin-bottom: 5px;
}

.colored{
    color: #003566;
}

.margin-t{
    margin: 15px;
    padding-top: 10px;
    border-top: 1px solid #003566;
}

.margin-top{
    margin-top: 15px;
}

.flex-progress{
    margin: 5px 15px 5px 15px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #003566;
}

.progress-t{
    width: 5rem;
}

.progress-bar{
    width: 15rem;
}

.italic-c{
    font-style: italic;
}

.importance-c{
    color: gray;
    font-weight: bold;
    font-style: italic;
}

.index{
    display: flex;
    justify-content: space-evenly;
}

.index-num{
    border: 1px #003566 solid;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    
}

.step-btn{
    border-radius: 15px;
    padding: 5px;
    background-color: #ffb10a;
    font-weight: bold;
    color: #003566;
    border: 2px #003566 solid;
}

.update-img{
    color: #003566;
    border: #003566 solid 1px;
}

.tags-display{
    margin: 5px 10px 15px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tag{
    width: 30%;
}

.description-journey{
    color: #003566;
    font-style: italic;
    font-size: 1.2rem;
}


.img-upload-btn{
    color: #003566;
    border: #003566 1px solid;
}

.tag-map{
    width: 8rem;
    font-weight: bold;
    color: #003566;
    border: #ffb10a 1px solid;
    outline: 1px #003566 solid;
    box-shadow: 5px 5px 1px #dab785;

}

.div-block-short{
    margin: 20px 55px 5px 55px;
    height: 1px;
    background-color: #003566;
}

.label-journey{
    color: #003566;
    text-decoration: underline;
    font-style: italic;
}

.tag-map:hover{
    background-color: #dab785;
    color: #003566;
    border: 1px #003566 solid
}

.pencil{
    font-size: 1rem;
}