.alligned{
    margin: 0 auto;
    width: 45%;
    margin-bottom: 5px;
}

.colored{
    color: #003566;
}

.margin-t{
    margin: 15px;
    padding-top: 10px;
    border-top: 1px solid #003566;
}

.margin-top{
    margin-top: 15px;
}

.flex-progress{
    margin: 5px 15px 5px 15px;
    display: flex;
    justify-content: center;
    
}

.margin-r{
    margin-right: 15px;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-t{
    width: 5rem;
    color: #003566;
}

.progress-bar{
    width: 15rem;
}

.italic-c{
    font-style: italic;
}

.importance-c{
    color: gray;
    font-weight: bold;
    font-style: italic;
}

.index{
    display: flex;
    justify-content: space-evenly;
}

.index-num{
    border: 1px #003566 solid;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    
}

.step-btn{
    border-radius: 15px;
    padding: 5px;
    background-color: #ffb10a;
    font-weight: bold;
    color: #003566;
    border: 2px #003566 solid;
}

.update-img{
    color: #003566;
    border: #003566 solid 1px;
}

.tags-display{
    margin: 5px 10px 15px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tag{
    width: 30%;
}

.description-journey{
    padding-top: 10px;
    color: #003566;
    font-style: italic;
    font-size: 1.5rem;
}


.img-upload-btn{
    color: #003566;
    border: #003566 1px solid;
}

.tag-map{
    width: 8rem;
    font-weight: bold;
    color: #003566;
    border: #1b57db 1px solid;
    outline: 1px #003566 solid;
    box-shadow: 5px 5px 1px #C2EBFF;

}

.div-block-short{
    margin: 20px 55px 5px 55px;
    height: 1px;
    background-color: #003566;
}

.label-journey{
    color: #003566;
    text-decoration: underline;
    font-style: italic;
}

.tag-map:hover{
    background-color: #C2EBFF;
    color: #003566;
    border: 1px #003566 solid
}

.pencil{
    font-size: 1rem;
}

.title-block{
    color: #003566;
    text-shadow: 1px 1px 2px #dab785;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.block-display{
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-journey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 0;
}

.main-container{
    display: flex;
    justify-content: center;
}

i{
    margin-left: 10px;
}

#user-journey-title {
    margin-bottom: 15px;
    font-weight: bolder;
}

#user-journey-tags{
    color: #2B3A55;
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 0;
}

.block-btn{
    margin-top: 20px;
}

.block-btn:focus{
  background-color: #ffc107;
}

.user-journey-upvotes{
    font-size: larger;
    color:#2B3A55 ;
}

.block-content{
    font-size: 1.5em;
    color: #2B3A55;
}

.is-public-p {
    font-size: 0.9em;
    color: #003566;
}

.block-steps-label{
    font-size: 2em;
}